body {
    font-family: Arial, sans-serif;
    background: #FFFFFF	;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text {
  font-family: Arial, sans-serif;
  color: #000000;
}

.Register-container {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 0 20px #778899	;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 95%;
    padding: 10px 5px 10px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.password-box {
    position: relative;
}

.password-box input {
    width: 95%;
    padding: 10px 5px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.6;
}

.toggle-btn:hover {
    opacity: 1;
}

.Register-btn {
    width: 100%;
    padding: 10px;
  
    margin-top: 10px;
    margin-bottom: 10px;
  
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  
}

.Register-btn:hover {
    background: #0056b3;
}

.box-link {
   text-align: center;
}

.small-link {
    text-align: center;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
}

.small-link:hover {
    text-decoration: underline;
}